nav li a{
    text-decoration: none;
}
nav li{
    list-style: none;
    display: inline;
    margin-right: 15px;

}
nav li:hover{
    background-color: rgb(14, 218, 150);
}
footer{
    text-align: center;
}